# Env file path: services/gateway-service/.env.example
SERVICE_NAME=gateway-service
SERVICE_PORT=8003
AUTH_SERVICE_BASE_URL=http://localhost:8001
CATALOG_SERVICE_BASE_URL=http://localhost:8004
CART_SERVICE_BASE_URL=http://localhost:8005
ORDER_SERVICE_BASE_URL=http://localhost:8006
INVENTORY_SERVICE_BASE_URL=http://localhost:8007
NOTIFICATION_SERVICE_BASE_URL=http://localhost:8008
JWT_SECRET_KEY=change_me
JWT_ALGORITHM=HS256
